*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: hsl(271, 97%, 76%);
}
 
#container {
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px grey;
   background: white;
}
#header {
    height: 150px;
    background-color: hsl(224, 100%, 50%);
}
#logo {
   padding: 20px;
   margin-left: 20px;
   float: left;
}
#logo img {
    float: left;
    height: 100px;
    width: 120px;
}
#logo a {
    float: left;
    font-size: 40px;
    letter-spacing: 4px ;
    font-family: Arial,helvetica,sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bold; 
    text-decoration: none;
    margin-top: 20px;
    margin-left: 450px;
    text-shadow: 0px 2px 2px GREY;
    transition: all 300ms;
}
 #logo a:hover {
    text-shadow: 0px 2px 2px black, 0px 2px 2px rgb(0, 0, 0);
}
 #menu {
  clear: both;
  background: rgb(224, 144, 191);
  color: white;
  height: 50px;
  border-bottom: 4px solid rgb(0, 204, 255);
}
 #menu ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}
 #menu ul li {
  line-height: 55px;
  float :left;
  border-right: 1px solid grey;
  }
    #menu a {
        display: block;
        color: white;
        text-decoration: none;
        padding-left:  20px;
        padding-right: 12px;
        transition: all 300ms;
     }